__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.log
local_settings.py

.env
venv/
ENV/
env/
.venv

.pythonlibs/

.streamlit/secrets.toml

Report/completed_with_images/
Report/completed_final/

~$*.pptx
*.tmp

.DS_Store
Thumbs.db
